{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error sint sit earum asperiores delectus alias
            beatae suscipit, maiores quibusdam placeat eveniet nobis, natus quod ducimus molestias. Voluptatum possimus
            accusamus qui molestias odio deserunt est libero maiores, saepe velit, ullam quod adipisci deleniti! Earum
            necessitatibus magni exercitationem debitis laborum veniam. Eligendi nobis, veniam earum quo tenetur dolore
            inventore eius. Magnam nemo quae consequatur voluptates numquam molestiae, inventore quod quibusdam ipsa
            atque eos libero dolorum ea doloribus tempore totam facilis quis quos perspiciatis ipsum in impedit quisquam
            veritatis? Dolores, labore error voluptatibus mollitia sed inventore maiores. Cupiditate dolor ut minima?
            Rem, iste?
        </p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">Signin</a>
            <a class="btn btn-dark" href="/signup/">Signup</a>
        </div>
    </section>
</main>
{% endblock %}